html, body{
  height: 100%;
}

body{
  background: transparent;
  text-align: center;
  color: white;
  font-family: roboto;
}

div{
  height:140px;
  overflow: visible;
}

svg {
  overflow: visible;
}
